/* sorting */
@import '103-sort_list';


@function sort_list($list_to_sort) {
  $length: length($list_to_sort);

  @for $i from 1 through $length {
    @for $j from 1 through ($length - 1) {
      @if str-length(nth($list_to_sort, $j)) > str-length(nth($list_to_sort, $j + 1)) {
        $temp: nth($list_to_sort, $j);
        $list: set-nth($list_to_sort, $j, nth($list_to_sort, $j + 1));
        $list: set-nth($list_to_sort, $j + 1, $temp);
      }
    }
  }

  @return $list_to_sort;
}

$sorted_list: sort_list($list_to_sort);

@debug $sorted_list
